@model List<WebClinic.Data.Models.Doctor>

@{
    ViewData["Title"] = "Врачи";
    ViewData["HideGreeting"] = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div class="doctor-container">
    
    <h2 class="doctor-title">Врачи для записи на прием</h2>
    
    <div class="doctor-box">
        @foreach (var doctor in Model)
        {
            <div class="doctor-card">

                <h3>@doctor.User.LastName @doctor.User.FirstName @doctor.User.MiddleName</h3>

                <p><strong>Должность:</strong> @doctor.PostName</p>
                <p><strong>Стаж:</strong> @doctor.Experience лет</p>

                <button class="btn btn-primary" onclick="location.href='@Url.Action("Patient", "DoctorServices", new { id = doctor.Id })'">
                    Записаться
                </button>
            
            </div>
        }
    </div>

</div>