@model IEnumerable<WebClinic.Data.ViewModels.MedicalCard.MedicalCardViewModel>

@{
    ViewData["Title"] = "Медицинская карта";
    ViewData["HideGreeting"] = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

@if (!Model.Any())
{

    <h2 class="table-title">@ViewData["Title"]</h2>

    <p>В мед. карте нет записей.</p>
}

<div class="table-container">
    <h2 class="table-title">@ViewData["Title"]</h2>

    <div class="table-box">
        <table class="table">
            <thead>
                <tr>
                    <th>Дата записи</th>
                    <th>Дата приема</th>    
                    <th>Услуга</th>
                    <th>Врач</th>
                    <th>Диагноз</th>
                    <th>Рецепт</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model)
                {
                    <tr>
                        <td>@record.AppointmentDate.ToShortDateString()</td>
                        <td>@record.StartTime</td>
                        <td>@record.ServiceName</td>
                        <td>@record.DoctorFullName</td>
                        <td>@record.Diagnosis</td>
                        <td>@record.Prescription</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
